{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}


{% block content %}
Welcome in Telemedicine!<br/>

<div class="row">
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <img src="{%static 'images/doc.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="{% url 'login_doctor' %}" class="btn btn-primary">Login as Doctor</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" style="width: 18rem;">
      <img src="{%static 'images/woman.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="{% url 'login_patient' %}" class="btn btn-primary">Login as Patient</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}





